<form>
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <input type="password" placeholder="Conferma Password">
    <button type="button">REGISTRATI</button>
</form>